<div class="row" *ngIf="!survey">
  <div class="col-sm-12 mb-3">
    <div class="header-section">
      <h3>Please upload attachments (1/2)</h3>
      <p>Max file size: 10MB. Allowed file types: '.pdf', '.docx'</p>
    </div>
    <input type="file" name="fileUpload" id="fileUpload"
           multiple ng2FileSelect [uploader]="uploader">
    <div>
      <div class="row uploadList" *ngFor="let item of uploader.queue">
        <div class="col-sm-4">{{item.file.name}}</div>
        <div class="col-sm-4">
          <div class="progress">
            <div class="progress-bar bg-success"
                 [ngStyle]="{'width':item.progress+'%'}"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="item.remove()">Delete</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="uploader?.queue?.length > 0">
      <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-md-10" *ngIf="uploader.getNotUploadedItems().length===0 && uploader.queue.length>0">
        <button class="btn btn-success" (click)="survey = !survey">Take test</button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="survey">
  <div class="col-sm-12">
    <app-personality-test></app-personality-test>
  </div>
</div>
