<div class="row">
  <div class="col-md-2">
    <button class="btn btn-primary btn-sm m-1" routerLink="/viewstudents"><i class="far fa-arrow-alt-circle-left"></i>
      Back
    </button>
  </div>
</div>
<div class="row m-2">
  <div class="col-md-12">
    <div class="option-box">
      <button class="btn btn-primary m-1" (click)="openEmailModal()"><i class="far fa-envelope"></i> Send email</button>
      <button class="btn btn-info m-1" (click)="editSwitch()"><i class="fas fa-edit"></i> Edit</button>
      <button class="btn btn-danger m-1" (click)="openDeleteModal()"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
  </div>
</div>
<div *ngIf="student" class="row">
  <div class="col-md-5">
    <app-edit-student [student]="student" [editMode]="editMode"
                      (onSubmit)="openSaveModal($event); editMode=false"></app-edit-student>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <h3>Personality test</h3>
        <app-peronality-chart [studentId]="studentId"></app-peronality-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-3">
        <h3>Attachments</h3>
        <table class="table">
          <thead>
          <tr>
            <th>File name</th>
            <th>File size</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let attachment of attachments">
            <td><a href="server/api/students/attachment/{{attachment.id}}">{{attachment.fileName}} </a></td>
            <td>{{attachment.size / 1024 | number:'1.1-1'}} KB</td>
            <td>
              <button class="btn btn-danger" mwlConfirmationPopover
                      [popoverTitle]="'Deletion conformation'"
                      [popoverMessage]="'Are you sure you want to delete this attachment?'"
                      placement="left"
                      (confirm)="deleteAttachment(attachment.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
