<div class="row">
  <mat-form-field class="col-sm-6 filter">
    <input class="mat-input-element m-1" matInput (keyup)=" applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="col-sm-2 offset-sm-4">
    <button *ngIf="selection.hasValue()" class="btn btn-danger" (click)="tryToDelete()">
      Delete <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="table">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="col-sm-1">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="col-sm-1">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-sm-1">ID</mat-header-cell>
      <mat-cell *matCellDef="let student" class="col-sm-1"><a
        [routerLink]="['/viewstudents/',student.id]">{{student.id}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-sm-2">First name</mat-header-cell>
      <mat-cell *matCellDef="let student" class="col-sm-2"> {{student.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-sm-2">Last name</mat-header-cell>
      <mat-cell *matCellDef="let student" class="col-sm-2"> {{student.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-sm-3">Email</mat-header-cell>
      <mat-cell *matCellDef="let student" class="col-sm-2"> {{student.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="university">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-sm-3">University</mat-header-cell>
      <mat-cell *matCellDef="let student" class="col-sm-3"> {{student.university}} </mat-cell>
    </ng-container>

    <mat-header-row class="row" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="row" *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

