
.filter {
  border: 2px solid #e1e1e1;
  border-radius: 5px;
}

.advancedFilter {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-right: 0.2rem solid #f2f2f2;
  border-bottom: 0.2rem solid #f2f2f2;
  border-left: 0.2rem solid #f2f2f2;
  border-radius: 5px;
}
