<table class="table" *ngIf="students">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>University</th>
    <!--<th>Course</th>-->
    <!--<th>Year of graduation</th>-->
  </tr>
  <tr *ngFor="let student of students">
    <td>
      <a [routerLink]="['/viewstudents/student',student.id]">{{student.id}}</a>
    </td>
    <td>{{student.firstName +" " + student.lastName}}</td>

    <td>{{student.email}}</td>
    <td>{{student.university}}</td>
    <!--<td>{{student.course}}</td>-->
    <!--<td>{{student.gradYear}}</td>-->
  </tr>
</table>
