<div class="row">
  <div class="col-md-3">
    <button class="btn btn-info" (click)="advancedOptionsSwitch()">Advanced filter
      <i *ngIf="!advancedOptions" class="fas fa-angle-down"></i>
      <i *ngIf="advancedOptions" class="fas fa-angle-up"></i>
    </button>
  </div>
  <div class="col-md-9 filter">
    <input class="mat-input-element m-1" matInput (keyup)=" applyFilter($event.target.value)" placeholder="Search..."
           autocomplete="off">
  </div>
</div>
<form [formGroup]="advancedSearchForm" (ngSubmit)="advancedSearch()">
  <div class="row advancedFilter" *ngIf="advancedOptions">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="mr-3">
            <input matInput [matDatepicker]="pickerFrom" formControlName="createdFrom" placeholder="Created from">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerTo" formControlName="createdTo" placeholder="Created to">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-5 pl-0">
          <ng-select class="form-group" multiple="true" [items]="gl.courses"
                     formControlName="courses" placeholder="Select courses">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group ml-3">
          </div>
          <mat-checkbox formControlName="personalityTest" class="mr-3">Personality test</mat-checkbox>
          <mat-checkbox  formControlName="attachments">Attachments</mat-checkbox>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-info" style="float: right">
            Filter <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="table">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" class="mr-3"
                      [checked]="selection.hasValue() && allSelected()"
                      [indeterminate]="selection.hasValue() && !allSelected()">
        </mat-checkbox>
        <button *ngIf="selection.hasValue()" class="btn btn-danger" (click)="tryToDelete()">
          Delete
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let student">
        <mat-checkbox (click)="$event.stopPropagation()" class="mr-3"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
        <button class="btn btn-success" [routerLink]="['/viewstudents/',student.id]">Open</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="university">
      <mat-header-cell *matHeaderCellDef mat-sort-header>University</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.university}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="course">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Course</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.course}} </mat-cell>
    </ng-container>

    <mat-header-row class="row" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="row" *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

