<form [formGroup]="studentForm" novalidate (ngSubmit)="submitRegistration()" [attr.disabled]="editMode ? null : true">
  <div class="form-row mb-3">
    <div class="col">
      <input type="text" class="form-control" formControlName="firstName" required value="{{student.firstName}}"
             autofocus placeholder="First name"/>
    </div>
    <div class="col">
      <input type="text" class="form-control" formControlName="lastName" required value="{{student.lastName}}"
             placeholder="Last name"/>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="email" required value="{{student.email}}"
           placeholder="Email"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="university" required value="{{student.university}}"
           placeholder="University"/>
  </div>
  <div class="form-group">
    <label>Year of graduation</label>
    <input type="date" class="form-control" formControlName="gradYear" required value="{{student.gradYear}}"/>
  </div>
  <div class="form-group">
    <ng-select [items]="gl.courses" formControlName="course" required bindValue="student.course"
               placeholder="Select course"></ng-select>
  </div>
  <hr>
  <div>Optional fields</div>
  <hr>
  <div class="form-group">
    <label>Please choose one option that best describes your ethnic group or background</label>
    <ng-select formControlName="ethnicity" bindValue="student.ethnicity" [items]="gl.ethnicities"
               placeholder="Select ethnicity"></ng-select>
  </div>
  <div class="form-group">
    <ng-select formControlName="gender" bindValue="student.gender" [items]="gl.genders"
               placeholder="Select gender"></ng-select>
  </div>
  <div class="mt-1">
    <div class="btn btn-warning" (click)="studentForm.reset(student)" *ngIf="studentForm.dirty">
      <i class="fas fa-redo-alt"></i> Reset
    </div>
    <button type="submit" *ngIf="editMode && studentForm.dirty" class="btn btn-info float-right"
            [disabled]="studentForm.invalid">
      <i class="fas fa-check"></i> Submit
    </button>
  </div>
</form>


