<div style="background-color: rgb(0,64,128); padding: 1rem">
  <div class="container container-custom" style=" min-height: 100vh;">

    <div class="text-center font-weight-bold text-primary pb-2">
      <img src="assets/img/SRSLogo.png" alt="Logo" style="height: 100%; width: 100%; object-fit: contain"/>
    </div>
    <div class="row">
      <div class="col align-self-end">
        <div class="company" *ngIf="settings">For: {{settings.companyName}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngIf="navBarOn">
        <app-navbar></app-navbar>
      </div>
      <div class="box" [ngClass]="{'col-md-10' : navBarOn, 'col-md-12' : !navBarOn}">
        <div class="m-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
