
.box {
  border: 0.1rem solid rgb(240, 240, 240);
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0.2rem 0.2rem #e1e1e1;
}

.container-custom{
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  padding: 2rem;
}
