<div class="row">
  <a class="btn btn-primary" routerLink="/viewstudents">Back</a>
</div>
<div *ngIf="student" class="row">
  <div class="col-sm-10">
    <app-edit-student [student]="student" [editMode]="editMode"></app-edit-student>
    <app-send-email [student]="student" *ngIf="emailMode"></app-send-email>
  </div>
  <div class="col-sm-2">
    <div class="btn-toolbar" style="border: 0.1rem solid black; border-radius: 0.5rem">
      <button class="btn btn-primary m-3" (click)="emailSwitch()">Send email</button>
      <button class="btn btn-info m-3" (click)="editSwitch()" >Edit</button>
    </div>
  </div>
</div>
