<div class="modal-header">
  <h4 class="modal-title">Profile deletion</h4>
  <div class="close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete <span
    class="text-primary">{{student.firstName + " " + student.lastName}}</span> profile?</strong></p>
  <p>All information associated to this user profile will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <div class="btn btn-danger" (click)="modal.close('ok')">Ok</div>
</div>
