<form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
  <div class="form-group">
    <label>Company name</label>
    <input type="text" class="form-control" formControlName="companyName" required value="{{settings.companyName}}"
           autofocus/>
  </div>
  <button type="submit" class="btn btn-success m-1"><i class="fas fa-save"></i> Save</button>
  <button class="btn btn-warning m-1" (click)="settingsForm.reset(settings)" *ngIf="settingsForm.dirty">
    <i class="fas fa-redo-alt"></i> Reset
  </button>
</form>
