<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <h3>Openness</h3>
  <p>Having a high level of openness is important in jobs that require creative thinking and a flexible attitude. Jobs
    such as advertising, research, and other artistic occupations all benefit from high openness. A person who scores
    low in openness on a career test may excel in jobs that involve routine work and do not require creativity.</p>
  <h3>Conscientiousness </h3>
  <p>A high score of conscientiousness in a career test is an important indicator of success. One reason is that this
    domain includes the trait known as need for achievement. These individuals are dependable, organized, and persevere,
    which means they will accomplish their professional goals. Research shows that the conscientiousness personality
    trait relates to job performance across different types of occupations. That means that a person who scores high in
    conscientiousness on a personality test will be better suited to perform a job.</p>
  <h3>Extraversion</h3>
  <p>Different jobs require different levels of extraversion. A high level of extraversion may be useful for jobs that
    require a great deal of interaction with other people, like public relations, teaching, and sales. Positions that
    are more focused on working independently and alone may be more suited to individuals with a lower level of
    extraversion.</p>
  <h3>Agreeableness</h3>
  <p>Agreeableness is an obvious advantage for building teams and maintaining harmony on the work floor. It’s a fact
    that agreeable people are more likeable than disagreeable people. On the other hand, agreeableness may not be useful
    in some occupational situations that require difficult or objective decisions. People who score low on agreeableness
    in a personality test often make excellent scientists, critics, or soldiers.</p>
  <h3>Neuroticism</h3>
  <p>A person who has a high level of emotional stability is preferred in most professions because they have more
    control over their emotions at work. Employees with low emotional stability may be more easily distracted from their
    work, by deadlines, personal situations, and pressure.</p>

</div>
<div class="modal-footer">

</div>
