<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!--Personality trait description taken from: https://www.talentmap.com/big-five-workplace-personalities/-->
  <h3>Openness</h3>
  <p>High scorers in openness prefer variety and change, they are more curious, creative and nonconforming. However,
    people that have a low openness score prefer the plain and straightforward over the complex. Low scorers are more
    subtle and resistant to change. Nonetheless, closed thinking can be beneficial in police work, sales, and many other
    service occupations.</p>
  <h3>Conscientiousness </h3>
  <p>People that have a high conscientiousness score avoid trouble and achieve professional success through careful
    planning and persistence. High scorers are often perfectionists and workaholics, which, while beneficial in some
    professions, can lead to them being viewed as dull and boring. On the other hand, individuals that score low in this
    and are impulsive can be more interesting and fun to be around. Furthermore, sometimes when the situation requires
    quick action, acting on an impulse can be beneficial. However, impulsive employees can ignore options, may socialize
    excessively and are easily distracted.</p>
  <h3>Extraversion</h3>
  <p>The ones that have a high extroversion score enjoy being around people and are full of energy. On the other hand,
    introverts tend to be low-key, quiet, deliberate and disengaged. Unfortuantelly, their independence and reserve is
    sometimes mistaken as unfriendliness or arrogance.</p>
  <h3>Agreeableness</h3>
  <p>Individuals that score high in agreeableness are concerned with cooperation and are getting along with others.
    Moreover, high scorers are considerate and willing to compromise. However, agreeableness can be harmful in
    situations that require objective or tough decisions. On the other hand, disagreeable individuals place
    self-interest above getting along with others so they can be suited for roles like inspectors, scientific
    researchers, and soldiers.</p>
  <h3>Neuroticism</h3>
  <p>People with high neuroticism score are emotionally reactive, anxious and less able to cope with stress. They are
    often in bad mood which negatively influences their decision-making skills. On the other hand, low scorers tend to
    be calm, emotionally stable, and less reactive.</p>
  <a href="https://www.talentmap.com/big-five-workplace-personalities/">Source:
    https://www.talentmap.com/big-five-workplace-personalities/</a>
</div>
<div class="modal-footer">

</div>
